body {
    background: #e9e9e9 url(image/fundoCinza.jpg);
     height: 100%;
}

.nome-usuario {
	font-size: 18px;
	color: white;
	font-family: Verdana;
}



.cadastro-de-usuario {
   text-align: left;
    width: 50%;
    margin:auto;
    margin-top: 100px;
    box-shadow: 1px 1px 5px #313131;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
  
}


.form-control {
    width: 200%;
}


.botoes{
	 text-align: center;
    margin: 10px;
}
	

